Repository Diego-mm/The-Game, pull requests merged in 2020-10, with the labels that each got.

#18 button close1
  index.html
  scripts/closeButton.js
  scripts/index.js
  styles/main.css
Labels: Game Logic

#19 Border bug
  styles/main.css
Labels: Style

#20 añadido boton close window
  scripts/index.js
Labels: Game Logic

#21 retoques css finales y añadido musica y boton de mute
  images/speaker.gif
  images/speaker.gif:Zone.Identifier
  index.html
  music/ringtones-pink-panther.mp3
  music/ringtones-pink-panther.mp3:Zone.Identifier
  scripts/index.js
  styles/main.css
Labels: Game Logic, MarkUp, Style
